<div id="container">
    <div id="sideLogo">
        <table>
            <tr>
                <td class="square"></td>
                <td class="square"></td>
            </tr>
            <tr>
                <td class="square"></td>
                <td class="square"></td>
            </tr>
        </table>
        <td class="white">Resource Management</td>
    </div>
    <div id="righSideOfHeader">
        <h1>Project 1</h1>
        <fa-icon id="icon2" [icon]="faQuestionCircle"></fa-icon>
        <h2>Cost Manager</h2>
        <fa-icon id="icon1" [icon]="faUserCircle"></fa-icon>
    </div>
</div>