#container {
    width: 100%;
}

#sideLogo {
    width: 25%;
    height: 15vh;
    background-color: darkorange;
}

#logoTitle {
    font-size: 20px;
    color: white;
}

p {
    margin-top: 0%;
}

h1 {
    height: 25px;
    width: 30px;
    margin: 5px;
    padding: 0%;
    background-color: white;
    border: 20px;
    border-color: orange;
    border-radius: 5px 5px 5px 5px;
}

.lineup {
    display: inline-block;
    margin-bottom: 0%;
}