#container {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-right: none;
    border-left: none;
    float: left;
    margin: 0%;
}

h1 {
    float: left;
    margin-left: 15%;
    margin-right: 10%;
}

#sideLogo {
    width: 25vw;
    height: 16vh;
    background-color: darkorange;
    float: left;
}

.square {
    height: 25px;
    width: 30px;
    margin: 2px;
    padding: 0%;
    background-color: white;
    border: 20px;
    border-color: orange;
    border-radius: 5px 5px 5px 5px;
}

.white {
    color: white;
    font-size: 22px;
    float: left;
    padding-top: 43px;
}

table {
    padding-top: 10px;
    padding-right: 0%;
    float: left;
}

fa-icon {
    float: right;
    margin: 0%;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

h2 {
    float: right;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}