#container {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-right: none;
    border-left: none;
    float: left;
    margin: 0%;
    height: 76px;
}

h1 {
    float: right;    
    margin-top: 4vh;
    font-size: 4vw;
}

#sideLogo {
    width: 22.5vw;
    height: 100%;
    background-color: #f16621;
    float: left;
}

.square {
    height: 2.3vw;
    width: 2.3vw;
    margin: 2px;
    padding: 0%;
    background-color: white;
    border: 20px;
    border-color: #f16621;
    border-radius: 5px 5px 5px 5px;
}

.white {
    color: white;
    font-size: 1.75vw;
    float: left;
    padding-top: 18%;
}

table {
    padding-top: 10px;
    padding-right: 0%;
    float: left;
}

fa-icon {
    float: right;
    margin: 0%;
    font-size: 4vw;
    padding-top: 5vh;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

h2 {
    float: right;
    padding-top: 5vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-size: 2vw;
}

#centerHeader {
    width: 35%;
    height: 100%;
    float: left;
}

#righSideOfHeader {
    width: 30%;
    height: 100%;
    float: right;
    padding-right: 3vw;
}