mat-sidenav-container {
    height: 100%;
}

#sidebar {
    background-color: black;
    color: white;
    width: 22.5vw;
    margin: 0%;
}

button {
    background-color: black;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: none;
    height: 8%;
    width: 4vw;
}
a:link,a:visited {
    text-align: left;
    padding-left: 5%;
    text-decoration: none;
    color: white;
}

a:hover,a:active {
    color: darkorange;
}

mat-list {
    float: left;
    margin: 0%;
    width: 50%;
    font-size: 20px;
}


::-webkit-scrollbar {
    width: 0%;
}