<mat-sidenav-container>
    <mat-sidenav mode='side' [(opened)]='opened' id='sidebar'>
        <mat-list role="list">
            <a routerLink="/resource" mat-list-item>Resource</a>
            <a routerLink="/project" mat-list-item>Project</a>
            <a routerLink="/formula" mat-list-item>Formula</a>
            <a routerLink="/template" mat-list-item>Template</a>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button (click)='openClose()'>{{buttonText}}</button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>