<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-panel">
	<div class="left-panel">
		<p class="title"> Project Scope Fields</p>
		<form>
			<div [ngStyle]="{'margin-top':'-1px','background': i%2===0 ? '#fafafa' : '#f0f0f0'}" *ngFor="let visiable of visiables; let i = index">
				<div class="checkleft">{{visiable.name}}</div>
				<div class="checkright"><input type="checkbox" [(ngModel)]="visiable.visibility" name="visibility{{i}}"></div>
			</div>
		</form>
	</div>
	<div class="right-panel">
		<p class="title"> Quantity Survey Fields</p>
		<form>
			
			<div *ngFor="let column of columns; let i = index">
					<div class="input">
						Field<br>
						<input [(ngModel)] = "column.colName" name="name{{i}}">
					</div>
					<div class="input">
						Type<br>
						<select style="border-radius:3px" [(ngModel)]="column.type" name="type{{i}}">
							<option> Number </option>
                    		<option> Text </option>
                    		<option> Formula </option>
						</select>
					</div>
					<div [ngStyle]="{'visibility':isFormula(i) ? 'hidden': ''}" class="input">
						Formula<br>
						<input [disabled] = "isFormula(i)" [(ngModel)]="column.equation" name="nmae{{i}}">
					</div>
					<div class="delete">
					<button class="fa fa-trash" (mouseup)="deleteRow(i)"></button>
					</div>
					
			</div>
			  
		</form>
		<div style = "float:right; margin-right:10px; margin-top:10px; margin-bottom:4px; padding-bottom:0px;" >
		<p style="display: inline-block; margin:0;padding-right:5px;">Add Field</p> <button class="fa fa-plus" (click)="addRow()"></button>
		</div>
	</div>
	<div class="bot-bar">	
	</div>
	
</div>
<div class="bot">
	<button class="save" (mouseup)="saveAll()">Save</button>
</div>

