
<div class="main-panel">
	<div class="left-panel">
		<p class="title"> Project Scope Fields</p>
		
	</div>
	<div class="right-panel">
		<p class="title"> Quantity Survey Fields</p>
		<form [formGroup]="columnForm">
			
			<div formArrayName="columns" *ngFor="let col of cols.controls; let i = index">
          		<div [formGroupName]="i">
            		<div class="cube">
						<input placeholder="" formControlName="name">
					</div>
            		<div class="cube">
						
					</div>
				</div>
          		</div>
        	

			<button (click)="addRow()">Add</button>
		</form>
	</div>
</div>
<div class="bot-bar">
	
</div>