<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-panel">
	<div class="left-panel">
		<p class="title"> Project Scope Fields</p>
		
	</div>
	<div class="right-panel">
		<p class="title"> Quantity Survey Fields</p>
		<form>
			
			<div *ngFor="let column of columns; let i = index">
					<div class="input">
						
						Field<br>
						<input [(ngModel)]="column.name">
					</div>
					<div class="input">
						Type<br>
						<select style="border-radius:3px" [(ngModel)]="column.type">
							<option> Number </option>
                    		<option> Text </option>
                    		<option> Formula </option>
						</select>
					</div>
					<div class="input">
						Formula<br>
						<input [disabled]="isFormula(i)" [(ngModel)]="column.formula">
					</div>
					<button class="fa fa-trash" (click)="deleteRow(i)"></button>
					
			</div>
			  
		</form>
		<div style = "float:right; margin-right:10px; margin-top:10px; margin-bottom:4px; padding-bottom:0px;" >
		<p style="display: inline-block; margin:0;padding-right:5px;">Add Field</p> <button class="fa fa-plus" (click)="addRow()"></button>
		</div>
	</div>
</div>
<div class="bot-bar">
	
</div>
<div class="bot">
	<button class="save">Save</button>
</div>