<div class="login-container">
    <div class="login-header">
        <h2>Login</h2>
    </div>
    <div class="form-container">
            <form>
                    <h3>Username</h3>
                    <input type="text" placeholder="username">
                    <h3>Password</h3>
                    <input type="password" placeholder="password">
                    <input class="sign-in-btn" type="submit" value="Login">
                    <label>
                        <input type="checkbox">Remember me
                    </label>
                    <input type="submit" class="signup-btn" value="Sign up">
                    <a href="forgotPassword">Forgot Password</a> <!-- Fake link -->
                </form>
    </div>
</div>