<div class="login-container">
    <div class="login-header">
        <h2>Login</h2>
    </div>
    <div class="form-container">
            <form [formGroup] = "loginForm">
                  
                    <!-- For debugging purposes -->
                    <!-- Value: {{loginForm.value | json}} -->


                    <h3>Username</h3>
                    <mat-form-field class="input-container" appearance="fill">
                        <input type="text" matInput placeholder="username" formControlName ="username" required>
                    </mat-form-field>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid">
                        <div *ngIf="username.errors.minlength">Must be at least 4 characters</div>
                    </div>
                    <h3>Password</h3>
                    <mat-form-field class="input-container" appearance="fill">
                        <input type="password" matInput placeholder="password" formControlName ="password" required>
                    </mat-form-field>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid">
                        <div *ngIf="password.errors.minlength">Must be at least 4 characters</div>
                    </div>

                    <button class="login-btn" mat-raised-button (click)="loginClick()">Login</button>
                    <mat-checkbox class="remember-checkbox" color="primary" fromControlName="checkbox"> Remember me</mat-checkbox>
                    <a href="/signup" class="signup-btn" mat-raised-button (click)="signupClick()">Sign up</a>
                    <!-- Fake link -->
                    <a class="forgotpassword-link" href="forgotPassword">Forgot Password</a>
                </form>
    </div>
</div>