*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    display: inline;
}
.login-container{
    border: 2px solid black;
    margin: 1em;
    display: inline-block;
}

.login-header{
    text-align: center;
    background: darkorange;
    padding: 1em;
    color: white;
    margin-bottom: 1em;
}

.form-container{
    text-align: left;
    padding: 4px;
}

.form-container h3{
    margin: 3px;
    display: block;
}

.form-container input{
    margin: 3px;
}

.form-container label{
    display: block;
    margin: 2px;
}
.form-container a{
    display: inline;
    margin-left: 16px;
}
.sign-in-btn{
    display: inline-block;
    padding: 5px;
    border: none;
    text-align: center;
    background:darkorange;
    color: white;
    font-size: 16px;
}


.sign-in-btn:hover{
    cursor: pointer;
    font-size: 20px;
}