*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.login-container{
    margin: 1em;
    display: inline-block;
}

.login-header{
    text-align: center;
    padding: 1em;
    color: darkorange;
    margin-bottom: 1em;
    font-size: 20px;
    font-style: italic;
}

.form-container{
    text-align: left;
    width: 20em;
}

.form-container a{
    display: inline;
    float: right;
}

.input-container{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
}

.form-container h3{
    display: block;
}

.login-btn{
    display: block;
    width: 100%;
    padding: 5px;
    margin: 3px 0px;
    border: none;
    text-align: center;
    background:darkorange;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.login-btn:hover{
    cursor: pointer;
}

.remember-checkbox{
    display: block;
    margin: 5px 0px;
}

.signup-btn{
    display: inline-block;
    padding: 5px;
    margin: 3px 0px;
    border: none;
    text-align: center;
    background:darkorange;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.signup-btn:hover{
    cursor: pointer;
}