<div class="login-container">
    <div class="login-header">
        <h2>Login</h2>
    </div>
    <div class="form-container">
            <form [formGroup] = "loginForm">
                  
                    <!-- For debugging purposes -->
                    Value: {{loginForm.value | json}}


                    <h3>Username</h3>
                    <mat-form-field class="input-container" appearance="fill">
                        <input type="text" matInput placeholder="username" formControlName ="username">
                        <mat-error *ngIf="username.invalid && username.touched">
                            Not valid
                        </mat-error>
                    </mat-form-field>
                    <h3>Password</h3>
                    <mat-form-field class="input-container" appearance="fill">
                        <input type="password" matInput placeholder="password" formControlName ="password">
                    </mat-form-field>

                    <button class="login-btn" mat-raised-button (click)="loginClick()">Login</button>
                    <mat-checkbox class="remember-checkbox" fromControlName="checkbox"> Remember me</mat-checkbox>
                    <button class="signup-btn" mat-raised-button (click)="signupClick()">Sign up</button>
                    <!-- Fake link -->
                    <a href="forgotPassword">Forgot Password</a>
                </form>
    </div>
</div>