*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.login-container{
    margin: 1em;
    display: inline-block;
}

.login-header{
    text-align: center;
    background: darkorange;
    padding: 1em;
    color: white;
    margin-bottom: 1em;
}

.form-container{
    text-align: left;
    width: 16em;
}

.form-container h3{
    margin: 3px;
    display: block;
}

.form-container input[type="text"],[type="password"]{
    margin: 3px 0px;
    width: 100%;
    font-size: 12px;
    padding: 6px;
}

.form-container label{
    display: block;
    margin: 2px;
}
.form-container a{
    display: inline-block;
    float: right;
}
.sign-in-btn{
    display: block;
    width: 100%;
    padding: 5px;
    margin: 3px 0px;
    border: none;
    text-align: center;
    background:darkorange;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.signup-btn{
    display: inline-block;
    padding: 5px;
    margin: 3px 0px;
    border: none;
    text-align: center;
    background:darkorange;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.signup-btn:hover{
    cursor: pointer;
    font-size: 15px;
}
.sign-in-btn:hover{
    cursor: pointer;
    font-size: 20px;
}