<mat-form-field>
    <mat-select id="select" disableOptionCentering panelClass="myPanelClass" [value]="selected">
        <mat-option disabled><input type="text" id="search" onkeyup="filter()" placeholder="Search for names.." title="Type in a name"/></mat-option>
        <mat-option *ngFor="let project of projects" [attr.id]="project.projId" [value]="project.projName">
            {{project.projName}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br><br>
<div id="resourceTable">
    <table id="rTable">
        <tbody>
            <tr>
                <td class="title" colspan="2">Resource Catalog</td>
            </tr>
            <tr>
                <!--<td class="colName" *ngFor="let resource of resources">{{resource.resName}}</td>-->
                <td class="colName">PROJECT NAME</td>
                <td class="colName">PROJECT CODE</td>
            </tr>
            <tr *ngFor="let resource of resources">
                <td>{{resource.resName}}</td>
                <td>{{resource.resCode}}</td>
            </tr>
        </tbody>
    </table>
    <a href="/resource"><h5>Edit Resource</h5></a>
</div>
<div id="projectTable">
    <table id="pTable">
        <tbody>
            <tr>
                <td class="title" colspan="2">Project</td>
            </tr>
            <tr>
                <!--<td class="colName" *ngFor="let resource of resources">{{resource.resName}}</td>-->
                <td class="colName">PROJECT NAME</td>
                <td class="colName">PROJECT CODE</td>
            </tr>
            <tr *ngFor="let resource of resources">
                <td>{{resource.resName}}</td>
                <td>{{resource.resCode}}</td>
            </tr>
        </tbody>
    </table>
    <button id="submit">&#10004; Submit</button>
</div>