mat-form-field {
    float: right;
    margin-right: 5%;
    margin-left: 100%;
}

mat-select {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    margin: 0%;
}

::ng-deep .mat-select-panel {
    max-width: 50px;
}

::ng-deep .mat-select-value {
    padding: 5px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-arrow-wrapper {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
}

::ng-deep .myPanelClass{
    margin-top: 27px !important;
    margin-left: 16px !important;
    min-width: 180px !important;
}

th {
    background-color: gray;
}

.colName {
    background-color: lightgray;
    text-align: center;
    border-style: solid;
    border-color: #C0C0C0;
    border-width: thin;
}

#resourceTable {
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 35px;
}

#projectTable {
    float: right;
    width: 45%;
    height: 100%;
    margin-right: 35px;
}

#rTable {
    float: right;
}

#pTable {
    float: left;
}

table {
    width: 100%;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-spacing: 0%;
    border-collapse: collapse;
    height: 100%;
}

td {
    margin: 0%;
    max-height: 20px;
    height: 20px;
}

button {
    margin-left: 20px;
}

.title {
    background-color: gray;
    text-align: center;
}

h5,a {
    margin-left: 5%;
    margin-top: 2%;
}

a:link,a:visited {
    text-align: left;
    text-decoration: none;
    color: blue;
}

a:hover,a:active {
    color: blue;
}

#submit {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    background-color: darkorange;
    border-style: none;
    color: white;
}