<div id="projectContent">
<mat-form-field *ngIf="projects != undefined">
    <mat-select id="select" disableOptionCentering [(ngModel)]="selectedValue" panelClass="myPanelClass" (ngModelChange)="setSelected(selectedValue)">
        <mat-option disabled><input type="text" id="search" (keyup)="filter($event.target.value)" placeholder="Search for project.." title="Type in a project name"/></mat-option>
        <mat-option *ngFor="let project of filteredProjects" [value]="project">
            {{project.projName}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br><br>
<div id="resourceTable">
    <div id="scroll">
    <table id="rTable">
        <tbody id="rBody">
            <tr>
                <td class="title" colspan="2">Resource Catalog 
                <button id="buttonSend" mat-button (click)="addToProjectResources()"><fa-icon id="icon1" [icon]="faShare"></fa-icon></button>
                <button id="buttonList" mat-button [matMenuTriggerFor]="menuList"><fa-icon id="icon2" [icon]="faList"></fa-icon></button>
                <mat-menu #menuList="matMenu">
                    <button mat-menu-item ngDefaultControl [(ngModel)]="checked" (click)="selectAll()"><input id="selectAll" type="checkbox"/>Select All</button>
                    <button mat-menu-item ngDefaultControl [(ngModel)]="checked" (click)="clearAll()"><input id="clearAll" type="checkbox"/>Clear Selection</button>
                </mat-menu>
                </td>
            </tr>
            <tr>
                <td class="colName">PROJECT NAME</td>
                <td class="colName">PROJECT CODE</td>
            </tr>
            <tr *ngFor="let resource of resources">
                <td><mat-checkbox name="resourceOptions" ngDefaultControl [(ngModel)]="resource.checked">{{resource.resName}}</mat-checkbox></td>
                <td>{{resource.resCode}}</td>
            </tr>
            <tr>
                <td id="filler"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    <a href="/resource"><h5>Edit Resource</h5></a>
</div>
<div id="projectTable">
    <div id="scroll">
    <table id="pTable">
        <tbody id="pBody" *ngIf="selectedValue != undefined">
            <tr>
                <td class="title" colspan="2">{{selectedValue.projName}} <button id="buttonSend" mat-button (click)="removeFromProjectResources()"><fa-icon id="icon1" [icon]="faTrash"></fa-icon></button></td>
            </tr>
            <tr>
                <td class="colName">PROJECT NAME</td>
                <td class="colName">PROJECT CODE</td>
            </tr>
            <tr *ngFor="let projectResource of projectResources" (ngModelChange)="addToProjectResources()">
                <td><mat-checkbox ngDefaultControl [(ngModel)]="projectResource.checked">{{projectResource.resName}}</mat-checkbox></td>
                <td>{{projectResource.resCode}}</td>
            </tr>
            <tr>
                <td id="filler"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
    <button id="submit" (click)="deleteAndPost(selectedValue.projId)">&#10004; Submit</button>
</div>
</div>